:root {
    --branco-principal: #FFFFFF;
    --cinza-sencundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundoo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

body {
    background-color: var(--cor-de-fundoo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400; /* normal */
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700; /* bold */
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao:hover {
  background-color: blue;
}

.botao__primario {
    border: 2px solid var(--botao-azul);
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--cinza-sencundario);
}

.container__aviso {
    font-size: 0.8em;
    margin-top: 10px;
    font-size: 12px;
    color: var(--cinza-sencundario);
}

.secundario__imagem {
    width: 80%;
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
    color: var(--cinza-secundario);
}

.descricao__texto {
    color: var(--cinza-sencundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    display: block;
    background-color: var(--cor-de-fundoo);
    color: var(--cinza-sencundario);
    text-align: center;
    padding: 1em; 
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a {
    font-size: 16px;
    color: var(--branco-principal);
    text-decoration: none;
    margin-left: 1em;
}

.rodape__texto {
    font-size: 14px;
    margin: 1em 0;
    color: var(--cinza-sencundario);
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundoo);
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

/* Responsividade */
@media (max-width: 600px) {
    body {
        margin-right: 0.5rem;
    }

    h1 {
        font-size: 0.8rem; /* Reduz o tamanho do título em telas pequenas (menos de 600px) */
    }
    
    a {
        font-size: 0.8rem; /* Reduz o tamanho dos links em telas pequenas (menos de 600px) */
    }

    img {
        width: 100%; /* Faz as imagens ocuparem toda a largura disponível em telas pequenas */
        height: auto; /* Mantém a proporção das imagens */
    }

    .descricao__titulo, .dispositivos__titulo{
        font-size: 1.7rem;
    }

    .container {
        grid-template-columns: 100%; /* Altera para uma coluna única em telas pequenas */
        height: auto; /* Permite que a altura se ajuste ao conteúdo em telas pequenas */
    }
    
    .principal {
        background-position-y: 25%;
    }

    .secundario {
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .container__caixa {
        margin: 0 1rem;
    }

    .container__titulo {
        display: table-caption;
    }

    .secundario__imagem {
        width: 100%;
        margin: 1rem 1rem 1rem 0;
    }

    .container__descricao {
        padding: 0 1rem 0 1rem;
    }

    .combo {
        padding-top: 5rem;
    }

    .notebook {
        padding-top: 5rem;
    }

    .dispositivos {
        padding-top: 5rem;
    }

    .dispositivos__lista {
        flex-direction: column; /* Alinha os itens da lista verticalmente em telas pequenas */
        gap: 0.5rem; /* Adiciona um pequeno espaço entre os itens */
        margin-top: 1rem;
    }
    .rodape__lista {
        flex-direction: column; /* Alinha os itens da lista verticalmente em telas pequenas */
        gap: 0.5rem; /* Adiciona um pequeno espaço entre os itens */
    }

    .lista__link a {
        font-size: 0.8rem;
        padding-top: 3rem;
    }

    .rodape {
        margin: 1rem 1rem;
    }

    .rodape__texto {
        font-size: 0.7rem;
        padding-top: 2rem;
    }
}